{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <script src={% static "js/index.js" %}></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/myweb/newindex" class="navbar-link">Brand</a></li>
          <li><a href="/myweb/project" class="navbar-link">Admin</a></li>
          <li><a href="/myweb/twitter_mining" class="navbar-link">Other</a></li>
          <li><a href="/myweb/filters" class="navbar-link">Filters</a></li>
          <li><a href="/myweb/register" class="navbar-link">Register</a></li>
          <li><a href="/myweb/users" class="navbar-link">Users</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
