{% load static %}

<link rel='stylesheet' type='css/text' href='{% static 'bootstrap.min.css' %}'>
{% if not form.is_bound %}
<div style="text-align:center;"><h1>Enter the Details</h1></div>
<form action='.' method='POST' >
{% csrf_token %}
<table rules="all" align="center">
{% for i in form %}
	
	<tr>
	<td>
	{{ i.name }}
	</td>
	<td>
	{{ i }}
	</td>
	</tr>
{% endfor %}
<td colspan='2'><input type='submit' style="text-align:center;" name='submit' value='submit'></td>
</table>
</form>
{% else %}
	{% for i in form %}
	<p style="color:blue;">{{i.name}}     :      {{i.value}}</p>
	
	{% endfor %}
	{% for i in tweets %}
	<p title= {{i}} > {{i}}</p>
	{% endfor %}
	<a href="{% url 'twitter_mining' %}">Click here To Search Again</a>
{% endif %}
